<div class="blog-detail">
    <h1><a href="#">作为一个设计师,如果遭到质疑你是否能恪守自己的原则</a></h1>
    <span><img src="{% static 'image/blog-thumbnail.jpg' %}" alt=""></span>
    <p>昨晚上做梦了，我本不想记下，可是又怕这种似乎有点真实的感觉就这样溜走，枕头湿了...我也记不得我是在梦中哭过还是......;在一个小餐馆，男孩叫了一份鱼香茄子、麻婆...</p>
    <ul>
      <li class="iconfont icon-icon--">标签</li>
      <li class="iconfont icon-time">时间</li>
      <li class="iconfont icon-eye">阅读数</li>
      <li class="iconfont icon-xihuan">喜欢数</li>
    </ul>
  </div>
  <div class="blog-detail">
    <h1><a href="#">作为一个设计师,如果遭到质疑你是否能恪守自己的原则</a></h1>
    <p>昨晚上做梦了，我本不想记下，可是又怕这种似乎有点真实的感觉就这样溜走，枕头湿了...我也记不得我是在梦中哭过还是......;在一个小餐馆，男孩叫了一份鱼香茄子、麻婆...</p>
    <ul>
      <li class="iconfont icon-icon--">标签</li>
      <li class="iconfont icon-time">时间</li>
      <li class="iconfont icon-eye">阅读数</li>
      <li class="iconfont icon-xihuan">喜欢数</li>
    </ul>
  </div>
